.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    background: #e1e3ea;
    height: 100vh;
    font-family: sans-serif;
}
.app{
    width: 60%;
}
@media(max-width: 768px){
    .app{
        width: 90%;
    }
}
@import url('https;//fonts.googleapis.com/css2?family=Rajhani:wght@500&display=swap');

.app h2 {
    color: white;
    font-size: 40px;
    padding-top: 10px 0;
    text-align: center;
    border-radius: .5rem .5rem 0 0;
    background-color: #de3f53;
    font-family: sans-serif;
}
.app form{
    display: flex;
    width: 100%;
    border-radius: 10px;
    background: #262e4c;
}
.app form input {
    border: none;
    background: #3c4979;
    font-size: 18px;
    color: white;
    padding: 10px;
    width: 90%;
}
.app form button {
    border: none;
    color: white;
    background: #1dd2af;
    font-size: 25px;
    font-weight: 600;
    height: 42px;
    width: 10%;
    border-radius: 5px;
}
.app ul {
    color: #e0e0e0;
    padding: 0;
    list-style: none;
}
.app ul li {
    padding: 10px;
    background: #262e4c;
    border-bottom: 1px solid #3a4674;
    border-radius: 10px;
}
.check {
    width: 0.9em;
    height: 0.9em;
    cursor: pointer;
    border-radius: 50%;
    background: white;
    border: 1px solid rgb(255, 255, 255);
    -webkit-appearance: none;
}
.check:checked {
    background-color: #1dd2af;
}
.task{
    font-size: 18px;
    padding: 0 20px;
}
.task:focus{
    outline: none;
}
.tasks{
    width:70%;
    height: 5vh;
    border-radius: 5px;
    color: whitesmoke;
    background-color: #3c4979;
}
#edit{
    background-color:aqua;
    border: none;
    border-radius: 5px;
    color: #262e4c;
    padding: 5px 10px;
    font-weight: 800;
    margin-left: 10px;
}
#delete{
    background-color:#de3f53;
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    padding: 5px 10px;
    font-weight: 800;
    margin-left: 10px;
}